/*-GLOBAL-*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  image-rendering: -webkit-optimize-contrast;
}
html {
  font-family: Circular Std, sans-serif;
}
body {
  width: 100%;
}
h1 {
  font-size: 48px;
  font-weight: 100;
  color: #495E67;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}

.buttonFilled {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #A04542;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
  /* font-family: 'Press Start 2P', cursive; */
}
.buttonFilled:hover {
    background-color: #8C3C3A;
}

/*-NAV-*/
nav {
  line-height: 130px;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
}
nav a {
  text-decoration: none;
  color: #495E67;
  font-size: 24px;
  font-weight: 700;
}
nav a:first-child {
  float: left;
}
nav a img {
  vertical-align: middle;
  image-rendering: -webkit-optimize-contrast;
}
nav a span {
  background-color: #495E67;
  padding: 5px 15px;
  border-radius: 1000px;
  font-weight: 100;
  font-size: 20px;
  color: white;
  margin-left: 7px;
}

/*-HEADER-*/
header {
  height: 1000px;
  min-height: 1000px;
  padding: 0 5%;
  background-image: url(images/background_header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
header h1 {
  width: 40%;
  margin: 2em 0 0 0;
}

/*-About-*/
.about {
  text-align: left;
  padding: 10em 5% 20em 5%;
  background-image: url(images/underdog.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: top left;
}
.about h1, .started a {
  margin-left: 65%;
}

/*-Footer-*/
footer {
  padding: 0 5%;
  margin-bottom: 40px;
  color: #495E67;
}
footer p, .footerPages {
  display: incline-block;
}
.footerPages {
  float: right;
}
.footerPages a {
  text-decoration: none;
  font-weight: 100;
  color: #495E67;
  margin-left: 30px;
}

@media only screen and (max-width: 1200px) {
  body {
    /* background-color: lightblue; */
  }

}
