/*-GLOBAL-*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  image-rendering: -webkit-optimize-contrast;
}
html {
  font-family: Circular Std, sans-serif;
}
body {
  width: 100%;
}
h1 {
  font-size: 48px;
  font-weight: 100;
  color: #495E67;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}

.buttonOutline {
  display: block;
  text-decoration: none;
  color: #495E67;
  border: 2px solid #495E67;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
}

.buttonOutline:hover {
    background-color: #164852;
    border: 2px solid #164852;
    color: white;
}
.buttonFilled {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #A04542;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
  /* font-family: 'Press Start 2P', cursive; */
}
.buttonFilled:hover {
    background-color: #8C3C3A;
}

/*-NAV-*/
nav {
  line-height: 130px;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
}
nav a {
  text-decoration: none;
  color: #495E67;
  font-size: 24px;
  font-weight: 700;
}
nav a:first-child {
  float: left;
}
nav a img {
  vertical-align: middle;
  image-rendering: -webkit-optimize-contrast;
}
nav a span {
  background-color: #495E67;
  padding: 5px 15px;
  border-radius: 1000px;
  font-weight: 100;
  font-size: 20px;
  color: white;
  margin-left: 7px;
}

code {
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    background-color: #EBEBEB;
    border-radius: 3px;
    font-size: 80%;
    padding: 0.3em 0.5em;
    margin: 0;
}

/*-HEADER-*/
header {
  height: 1000px;
  min-height: 1000px;
  padding: 0 5%;
  background-image: url(images/scaled_background_header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
header h1 {
  width: 40%;
  margin: 2em 0 0 0;
}

/*-DOCS-*/
.docs {
  height: 800px;
  min-height: 800px;
  padding: 0 5%;
}

.docs h3 {
  text-align: left;
  padding: 2% 2%;
  font-weight: 100;
  color: #495E67;
}
.docs p {
  padding: 0% 2%;
  line-height: 1.5;
  margin-bottom: 10px;
}

ul {
  list-style: square url(images/bullet.svg) inside;
}

ul.a {
  padding: 0% 4%;
  line-height: 1.5;
  list-style-type: square;
}

/*-Getting Started-*/
.started {
  text-align: left;
  padding: 10em 5% 20em 5%;
  background-image: url(images/background_started.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: top left;
}
.started h1, .started a {
  margin-left: 65%;
}

.gallery {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: mandatory;
  margin-bottom: 40px;
}

.gallery img {
  width: 100%;
}

/*-Footer-*/
footer {
  padding: 0 5%;
  margin-bottom: 40px;
  color: #495E67;
}
footer p, .footerPages {
  display: incline-block;
}
.footerPages {
  float: right;
}
.footerPages a {
  text-decoration: none;
  font-weight: 100;
  color: #495E67;
  margin-left: 30px;
}

@media only screen and (max-width: 1200px) {
  body {
    /* background-color: lightblue; */
  }

}
