/*-GLOBAL-*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  image-rendering: -webkit-optimize-contrast;
}
html {
  font-family: Circular Std, sans-serif;
}
body {
  width: 100%;
}
h1 {
  font-size: 48px;
  font-weight: 100;
  color: #EFEFEF;
}
h3 {
  font-size: 24px;
  font-weight: 100;
}
p {
  font-weight: 100;
  font-size: 16px;
  line-height: 1.4;
}

.buttonFilled {
  display: block;
  text-decoration: none;
  color: #3F5765;
  background-color: #BDD4DE;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
}
.buttonFilled:hover {
    background-color: #B4CAD4;
}

code {
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    background-color: #3F5765;
    border-radius: 3px;
    font-size: 80%;
    padding: 0.3em 0.5em;
    margin: 0;
}

/*-NAV-*/
nav {
  line-height: 130px;
  text-align: right;
}
nav a {
  text-decoration: none;
  color: #EFEFEF;
  font-size: 20px;
  font-weight: 700;
}
nav a:first-child {
  float: left;
}
nav a img {
  vertical-align: middle;
  image-rendering: -webkit-optimize-contrast;
}
nav a span {
  background-color: #EFEFEF;
  padding: 5px 15px;
  border-radius: 900px;
  font-weight: 100;
  color: white;
  margin-left: 7px;
}

/*-HEADER-*/
header {
  height: 80px;
  min-height: 80px;
  padding: 0 5%;
}
header h1 {
  width: 40%;
  margin: 2em 0 0 0;
}

/*-DOWNLOAD-*/
.mainPage {
  padding: 0 5%;
  background-image: url(images/background_header.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 80%;
  height: 600px;
  min-height: 600px;
}
.mainPage h1 {
  margin-bottom: 30px;
  padding-top: 150px;
}
.icons {
  margin-right: 30px;
}
.mainPage h1, .icons {
  margin-left: 65%;
}

.mainPage a {
  margin-left: 65%;
}

/*-TEAM-*/
.team {
  text-align: center;
  margin: 4em 0 3em 0;
  padding: 0 5%;
  image-rendering: -webkit-optimize-contrast;
}
.team h1 {
  width: 50%;
  margin: 0 auto 30px auto;
}
.members {
  display: flex;
  justify-content: center;
}
.person {
  margin: 0 30px;
  color: #EFEFEF;
}
.person h3 {
  margin: 5px;
}

/*-ABOUT-*/
.aboutPage {
  padding: 0 5%;
  background-image: url(images/about_header.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 80%;
  height: 600px;
  min-height: 600px;
}
.aboutPage h1 {
  margin-bottom: 30px;
  padding-top: 150px;
}

.aboutPage h1, .icons {
  margin-left: 50%;
}

.aboutPage p {
  margin-left: 50%;
  color: #EFEFEF;
  font-weight: 100;
  font-size: 20px;
}

/*-Footer-*/
footer {
  padding: 0 5%;
  margin-bottom: 40px;
  color: #EFEFEF;
}
footer p, .footerPages {
  display: incline-block;
}
.footerPages {
  float: right;
}
.footerPages a {
  text-decoration: none;
  font-weight: 100;
  color: #EFEFEF;
  margin-left: 30px;
}
